.header {

    nav {
        padding: 1.0625rem 1.5rem;
    }

    &__logo {

    }

    &__menu { //Mobile menu

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: black;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }

    &__links {

        a {
            position: relative;
            font-size: $font-sm;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before{
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: grey;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }
            &:hover {
                color: gray;

                &::before {
                    opacity: 1;
                }

            }
        }
    }

}